.card {
    -webkit-box-shadow: 0 0 21px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 21px -1px rgba(0,0,0,0.2);
    box-shadow: 0 0 21px -1px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 10px;
    overflow-x: hidden;
}

.cardHeader {

}

.cardTitle {
    font-size: 16px;
    font-weight: 600;
}

.body {
    margin-top: 10px;
}